.about-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  line-height: 1.17;
  padding: 0;
  margin: 0;
  text-align: left;
}

.about-list__item {
  padding-top: 83px;
  position: relative;
  min-width: 260px;
}

.about-list__item::before {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  width: 55px;
  height: 38px;
}

.about-list__item--eco::before {
  background-image: url("../img/decor-icon/eco.svg");
  top: 28px;
  left: 8px;
}

.about-list__item--price::before {
  background-image: url("../img/decor-icon/price.svg");
  top: 29px;
  left: 0;
}

.about-list__item--like::before {
  background-image: url("../img/decor-icon/like.svg");
  top: 33px;
  left: 7px;
}

.about-list__item--hand::before {
  background-image: url("../img/decor-icon/hand.svg");
  top: 30px;
  left: 3px;
}

.about-list__item--national::before {
  background-image: url("../img/decor-icon/national.svg");
  top: 33px;
  left: -5px;
}

.about-list__item--present::before {
  background-image: url("../img/decor-icon/present.svg");
  top: 30px;
  left: 3px;
}


@media (min-width: $tablet-width) {
  .about-list {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 265px 300px;
    grid-template-rows: 155px 155px 155px;
    column-gap: 70px;
    font-size: 20px;
  }

  .about-list__item {
    padding-top: 97px;
    position: relative;
  }

  .about-list__item::before {
    top: 46px;
  }
}

@media (min-width: $desktop-width) {
  .about-list {
    grid-template-columns: 265px 325px;
    grid-template-rows: 155px 155px 155px;
    column-gap: 85px;
  }

  .about-list__item {
    padding-top: 94px;
    position: relative;
  }

  .about-list__item::before {
    top: 43px;
  }
}
