.about-section {
  padding: 0 30px 45px 30px;
}

.about-section__title {
  margin: 0;
  font-size: 25px;
  line-height: 1.2;
  text-align: left;
}

@media (min-width: $tablet-width) {
  .about-section {
    padding: 0 50px 70px 50px;
  }

  .about-section__title {
    font-size: 43px;
    line-height: 1.16;
  }
}

@media (min-width: $desktop-width) {
  .about-section {
    padding: 0 225px 73px 225px;
  }

  .about-section__title {
    font-size: 53px;
    line-height: 1.08;
  }
}
