.card {
  list-style-type: none;
}

.card__title {
  font-size: 17px;
  line-height: 1.41;
}

.card__title-link {
  text-decoration: none;
  color: $secondary;
}

.card__info {
  font-size: 13px;
  line-height: 2.3;
  font-weight: 400;
}

.card__price {
  font-size: 15px;
  line-height: 1.6;
}
