.checkbox__list {
  list-style-type: none;
}

.checkbox__headline {
  font-size: 17px;
  line-height: 1.06;
  color: $primary;
}

.checkbox__title {
  font-size: 17px;
  line-height: 1.06;
  font-weight: 700;
}
