.contacts-item {
  display: grid;
  grid-template-columns: 76px 183px;
  text-align: left;
}

.contacts-item__term {
  font-size: 14px;
  line-height: 2.14;
  font-weight: 400;
  color: $quinary;
}

.contacts-item__link {
  font-size: 14px;
  line-height: 2.14;
  font-weight: 400;
  color: $quinary;
  text-decoration: none;
  border-bottom: 1px solid $primary;

  &:hover {
    color: $undenary;
  }

  &:active {
    border-bottom: none;
  }
}

.contacts-item__description {
  margin: 0;
  font-size: 14px;
  line-height: 2.14;
  font-weight: 400;
  color: $quinary;
}

@media (min-width: $tablet-width) {
  .contacts-item {
    display: grid;
    grid-template-columns: 78px 230px;
    text-align: left;
  }

  .contacts-item__term {
    font-size: 17px;
    line-height: 1.76;
  }

  .contacts-item__link {
    font-size: 17px;
    line-height: 1.76;
  }

  .contacts-item__description {
    font-size: 17px;
    line-height: 1.76;
    width: 208px;
  }
}
