.contacts-section {
  display: flex;
  flex-direction: column;
  position: relative;
}

.contacts-section__title {
  padding-left: 29px;
  font-size: 25px;
  line-height: 1.2;
  margin: 0;
  margin-bottom: 28px;
  text-align: left;
}

.contacts-section__list {
  padding: 0 29px;
  margin: 0;
  margin-bottom: 62px;
}

.contacts-section__link {
  font-size: 18px;
  line-height: 1.11;
  text-transform: uppercase;
  color: $quinary;
  text-decoration: none;
  padding-top: 14px;
  padding-bottom: 14px;
  border: 2px solid $quinary;
  margin-bottom: 39px;
  margin-left: auto;
  margin-right: auto;
  width: 254px;
}

.contacts-section__map {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 42px;
}

@media (min-width: $tablet-width) {
  .contacts-section::before {
    position: absolute;
    content: "";
    background-image: url("../img/decor-icon/flag.svg");
    width: 47px;
    height: 81px;
    right: 50px;
    top: 0;
  }

  .contacts-section__title {
    font-size: 43px;
    line-height: 1.16;
    padding-top: 22px;
    padding-left: 50px;
    margin-bottom: 48px;
  }

  .contacts-section__list {
    padding: 0 50px;
    display: grid;
    grid-template-columns: 333px 333px;
    margin-bottom: 49px;
  }

  .contacts-section__image {
    margin-bottom: 55px;
  }

  .contacts-section__link {
    font-size: 17px;
    line-height: 1.17;
    padding-top: 14px;
    padding-bottom: 14px;
    margin-bottom: 57px;
    margin-left: auto;
    margin-right: auto;
    width: 230px;

    &:hover {
      background-color: $quinary;
      color: $tertiary;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  .contacts-section__map {
    width: 768px;
    height: 457px;
    margin-bottom: 55px;
  }
}

@media (min-width: $desktop-width) {
  .contacts-section {
    position: relative;
    padding: 0 50px 105px 225px;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../img/decor-icon/flag.svg");
      width: 47px;
      height: 81px;
      left: 112px;
      top: 58px;
    }
  }

  .contacts-section__title {
    font-size: 53px;
    line-height: 1.16;
    padding: 0;
    padding-top: 71px;
    margin-bottom: 35px;
  }

  .contacts-section__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    margin-bottom: 83px;
  }

  .contacts-section__image {
    position: absolute;
    top: 0;
    right: 0;
  }

  .contacts-section__link {
    margin: 0 auto 0 0;
    width: 226px;
  }

  .contacts-section__map {
    position: absolute;
    top: 0;
    right: 50px;
    width: 527px;
    height: 457px;
  }
}
