.contacts-item__term {
  font-size: 14px;
  line-height: 2.14;
  font-weight: 400;
  color: $quinary;
}

.contacts-item__link {
  font-size: 14px;
  line-height: 2.14;
  font-weight: 400;
  color: $quinary;
}

.contacts-item__description {
  font-size: 14px;
  line-height: 2.14;
  font-weight: 400;
  color: $quinary;
}
