.copyright {
  display: flex;
  align-items: center;
}

.copyright__text {
  display: inline-block;
  font-size: 19px;
  line-height: 0.95;
  margin: 0;
  text-align: center;
}

.copyright__link {
  display: flex;
  height: 80px;
  align-items: center;
}
