.description__title {
  font-size: 17px;
  line-height: 1.41;
}

.description__text {
  font-size: 13px;
  line-height: 1.87;
  font-weight: 400;
}

.description__link {
  font-size: 18px;
  line-height: 0.89;
  text-transform: uppercase;
  text-decoration: none;
  color: $quinary;
}
