.extra-list {
  list-style-type: none;
}

.extra-list__link {
  text-decoration: none;
  font-size: 15px;
  line-height: 1.6;
  color: $secondary;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .extra-list {
    flex-direction: row;
    order: 3;
  }
}

@media (min-width: $desktop-width) {
  .extra-list {
    display: flex;
  }

  .extra-list__link {
    padding: 20px 33px;
  }
}
