.extra-list {
  list-style-type: none;
}

.extra-list__link {
  text-decoration: none;
  padding-top: 20px;
  font-size: 15px;
  line-height: 1.6;
  color: $secondary;
}

@media (min-width: $tablet-width) {
  .extra-list {
    flex-direction: row;
    order: 3;
  }
}
