.footer-section {
  background: $senary;
}

.footer-section__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .footer-section {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
  }

  .footer-section__logo {
    display: flex;
  }
}
