.form-inner {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  position: relative;
}

.form-inner__text {
  display: block;
  margin: 0;
  text-align: left;
  margin-bottom: 30px;
  padding-left: 29px;
}

.form-inner__button {
  font-size: 17px;
  line-height: 0.94;
  background-color: $tertiary;
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 700;
  margin: 0 auto;
  margin-bottom: 55px;
  border: 2px solid $quinary;
  width: 260px;
  cursor: pointer;

  &:hover {
    background-color: $quinary;
    color: $tertiary;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .form-inner__button {
    display: block;
    width: 230px;
    margin-bottom: 50px;
    margin-left: 50px;
  }

  .form-inner__text {
    position: absolute;
    bottom: 35px;
    right: 50px;
    font-size: 17px;
  }

  .form-inner__wrapper-checkbox {
    background-color: $senary;
  }

  .form-inner__wrapper-contacts {
    background-color: $senary;
  }
}

@media (min-width: $desktop-width) {
  .form-inner__button {
    display: block;
    margin-left: 225px;
  }

  .form-inner__text {
    right: 225px;
  }

  .form-inner__wrapper-submit {
    position: relative;
    max-width: 1150px;
    margin: 0 auto;
    width: 100%;
  }
}
