.form-inner {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;

  &__button {
    font-size: 17px;
    line-height: 0.94;
    background-color: #ffffff;
    text-transform: uppercase;
    padding: 18px 37px;
    font-weight: 700;
  }
}
