.form__text {
  font-size: 13px;
  line-height: 1.85;
  text-align: left;
  font-weight: 400;
  width: 260px;
  margin: 0;
  margin-bottom: 29px;
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 18px;
}

@media (min-width: $tablet-width) {
  .form__text {
    font-size: 17px;
    line-height: 1.85;
    width: 668px;
    padding-top: 65px;
    padding-left: 50px;
    padding-right: 50px;
  }
}
