.form__text {
  font-size: 13px;
  line-height: 1.85;
  text-align: left;
  font-weight: 400;
  width: 260px;
  margin: 0;
  margin-bottom: 29px;
  padding-left: 29px;
  padding-right: 29px;
  padding-top: 18px;
}

@media (min-width: $tablet-width) {
  .form__text {
    font-size: 17px;
    line-height: 1.85;
    width: 668px;
    padding-top: 68px;
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper-text {
    max-width: 1150px;
    margin: 0 auto;
  }

  .form__wrapper--checkbox {
    background-color: $septenary;
  }

  .form__wrapper--number-mail {
    background-color: $septenary;
  }

  .form__wrapper--text-button {
    position: relative;
    max-width: 1150px;
    margin: 0 auto;
    width: 100%;
  }

  .form__text {
    margin: 0;
    font-size: 17px;
    line-height: 1.85;
    width: 702px;
    padding: 115px 0 0 225px;
  }
}
