.form-content__button {
  font-size: 17px;
  line-height: 0.94;
  padding-top: 18px;
  padding-bottom: 18px;
  width: 260px;
  border: none;
  background-color: #63d1bb;
  color: $tertiary;
  text-transform: uppercase;
}
