.logo {
  height: 79px;
  box-shadow: 0 1px 0 $octonary, inset 0 1px 0 $octonary;
}

.logo__icon {
  height: 79px;
}

@media (min-width: $tablet-width) {
  .logo__icon {
    height: 89px;
  }
}

@media (min-width: $desktop-width) {
  .logo__icon {
    height: 89px;
    order: 2;
  }
}
