.logo {
  height: 79px;
}

.logo__icon {
  height: 79px;
  fill: $secondary;
}

.logo:hover .logo__icon {
  opacity: 0.6;
}

.logo:active .logo__icon {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .logo__icon {
    height: 89px;
  }
}

@media (min-width: $desktop-width) {
  .logo__icon {
    height: 89px;
    order: 2;
  }
}
