.mail {
  border: none;
  padding: 0;
  position: relative;
  padding-left: 29px;
  padding-right: 29px;
  margin: 0;
}

.mail__title {
  display: block;
  font-size: 17px;
  line-height: 0.94;
  color: $primary;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;
}

.mail__label {
  display: flex;
  flex-grow: 1;
}

.mail__input {
  flex-grow: 1;
  border: none;
  border-bottom: 2px solid $secondary;
  text-align: left;
  padding-top: 15px;
  padding-bottom: 14px;
  width: 260px;
  margin-bottom: 35px;
  font-size: 18px;
  letter-spacing: -1px;
}

.mail__icon {
  position: absolute;
  bottom: 52px;
  right: 35px;
}

@media (min-width: $tablet-width) {
  .mail {
    display: flex;
    flex-grow: 1;
    padding: 0 50px 50px 50px;
  }

  .mail__input {
    font-size: 19px;
    background-color: $septenary;
    padding-left: 16px;
    letter-spacing: 0;
    margin: 0;
  }

  .mail__title {
    margin: 0;
    padding-top: 19px;
    margin-right: 110px;
  }

  .mail__icon {
    bottom: 65px;
    right: 73px;
  }
}

@media (min-width: $desktop-width) {
  .mail {
    padding: 0 225px 50px 111px;
    max-width: 814px;
    margin: 0 auto;
    width: 100%;
  }

  .mail__title {
    margin-right: 56px;
  }

  .mail__icon {
    right: 232px;
  }
}
