.main-section {
  background-image: url("../img/index-background.jpg");
  background-repeat: no-repeat;
  background-color: #ffffff;
  padding-bottom: 100px;
  display: flex;
  flex-wrap: wrap;

  &__title {
    font-size: 53px;
    padding-top: 158px;
    margin: 0 auto;
    line-height: 1.08;
  }
}
