.main-section {
  background-image: url("../img/mobile.jpg");
  background-color: $septenary;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center -18px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/mobile@2x.jpg");
  }
}

.main-section__title {
  font-size: 27px;
  padding-top: 73px;
  margin: 0 auto;
  padding-bottom: 120px;
  line-height: 1.11;
  width: 260px;
}

.main-section__list {
  padding: 0;
  margin: 0;
}

@media (min-width: $tablet-width) {
  .main-section {
    background-image: url("../img/tablet.jpg");
    background-size: 765px 740px;
    background-position: center 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/tablet@2x.jpg");
    }
  }

  .main-section__title {
    font-size: 43px;
    padding-top: 155px;
    padding-bottom: 371px;
    line-height: 1.16;
    width: 700px;
  }

  .main-section__list {
    margin: 0;
    padding: 0;
    position: relative;

    &::before {
      content: "";
      height: 24px;
      width: 100%;
      background-image: url("../img/decor-icon/zigzag-fill.svg");
      position: absolute;
      bottom: -11px;
      left: 0;
      z-index: 1;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-section {
    background-image: url("../img/desktop.jpg");
    background-size: 1150px auto;
    background-position: center 0;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/desktop@2x.jpg");
    }
  }

  .main-section__title {
    font-size: 53px;
    padding-top: 158px;
    padding-bottom: 354px;
    line-height: 1.08;
    max-width: 700px;
  }

  .main-section__list::before {
    content: "";
    height: 34px;
    background-image: url("../img/decor-icon/zigzag-decor-desktop.svg");
    position: absolute;
    bottom: -16px;
    left: 0;
  }
}
