.main-list {
  display: flex;
  flex-direction: column;
}

.main-list__item {
  list-style-type: none;
  background-color: $primary;
  flex-grow: 1;

  &:hover {
    position: relative;
    bottom: 5px;
  }
}

.main-list__item-toy {
  background-color: $quaternary;
}

.main-list__link {
  display: block;
  text-decoration: none;
  color: $tertiary;
  font-size: 19px;
  line-height: 1.26;
  padding: 24px 80px 31px 30px;
  text-align: left;
  position: relative;


  &:hover .main-list__logo {
    opacity: 0.7;
  }

  &:active .main-list__logo {
    opacity: 0.3;
  }
}

.main-list__logo {
  position: absolute;
  fill: $denary;
  opacity: 0.5;
}

.main-list__logo-interior {
  right: 36px;
  top: 23px;
}

.main-list__logo-toy {
  right: 27px;
  top: 21px;
}

.main-list__text {
  display: block;
  max-width: 130px;
}

@media (min-width: $tablet-width) {
  .main-list {
    flex-direction: row;
    padding: 0 50px;
  }

  .main-list__link {
    font-size: 20px;
    line-height: 1.5;
    padding: 25px 80px 34px 30px;
  }

  .main-list__logo-interior {
    right: 36px;
    top: 30px;
  }

  .main-list__logo-toy {
    right: 33px;
    top: 31px;
  }
}
