.main-inner__title {
  font-size: 27px;
  line-height: 1.2;
  background-color: $septenary;
  padding-top: 73px;
  margin: 0;
  padding-bottom: 72px;
}

@media (min-width: $tablet-width) {
  .main-inner::before {
    content: "";
    background-image: url("../img/decor-icon/zigzag-fill.svg");
    position: absolute;
    height: 24px;
    width: 100%;
    bottom: 80px;
    left: 0;
  }

  .main-inner__title {
    font-size: 43px;
    padding-top: 99px;
  }
}

@media (min-width: $desktop-width) {
  .main-inner::before {
    content: "";
    background-image: url("../img/decor-icon/zigzag-fill-desktop.svg");
    height: 34px;
    bottom: -10px;
  }

  .main-inner__title {
    font-size: 53px;
    padding-bottom: 92px;
  }
}
