.main-nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-shadow: 0 1px 0 $octonary, inset 0 1px 0 $octonary;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.main-nav__toggle {
  position: absolute;
  top: 32px;
  right: 31px;
  border: 0;
  padding: 0;
  background-color: $tertiary;
}

.main-nav__toggle--open {
  background-image: url("../img/menu/toggle-close.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 14px;
}

.main-nav__toggle--close {
  background-image: url("../img/menu/toggle-open.svg");
  background-repeat: no-repeat;
  width: 21px;
  height: 20px;
}

.main-nav__extra {
  display: none;
}

.main-nav__site--no-js {
  position: static;
}

@media (min-width: $tablet-width) {
  .main-nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__logo {
    height: 89px;
    order: 1;
    padding-left: 50px;
  }

  .main-nav__user {
    order: 2;
  }

  .main-nav__site {
    order: 3;
    position: absolute;
    top: 89px;
    left: 0;
    background-color: transparent;
  }

  .main-nav__extra {
    display: none;
  }

  .main-nav__text {
    position: absolute;
    right: 50px;
    top: 89px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    justify-content: space-between;
    padding: 0;
  }

  .main-nav__logo {
    order: 2;
    padding: 0;
  }

  .main-nav__site {
    position: static;
    order: 1;
    margin-right: 200px;
  }

  .main-nav__extra {
    position: absolute;
    top: 109px;
    left: 15px;
  }
}
