.main-catalog-section {
  background: $senary;
}

.main-catalog-section__title {
  font-size: 27px;
  line-height: 1.11;
  margin: 0;
  padding-top: 73px;
  padding-bottom: 73px;
}

@media (min-width: $tablet-width) {
  .main-catalog-section::before {
    content: "";
    background-image: url("../img/decor-icon/zigzag-fill.svg");
    position: absolute;
    height: 24px;
    width: 100%;
    bottom: 22px;
    left: 0;
  }

  .main-catalog-section__title {
    padding-top: 101px;
    padding-bottom: 75px;
    font-size: 43px;
    line-height: 1.16;
  }
}

@media (min-width: $desktop-width) {
  .main-catalog-section::before {
    content: "";
    background-image: url("../img/decor-icon/zigzag-fill-desktop.svg");
    height: 34px;
    bottom: -10px;
  }

  .main-catalog-section__title {
    padding-bottom: 92px;
    font-size: 53px;
  }
}
