.main__wrapper {
  margin-bottom: 164px;
}

@media (min-width: $tablet-width) {
  .main__wrapper {
    margin-bottom: 52px;
  }
}

@media (min-width: $desktop-width) {
  .main__wrapper {
    margin-bottom: 71px;
  }
}
