.main {
  background-color: $septenary;
}

.main__wrapper {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: $desktop-width) {
  .main__wrapper {
    margin-bottom: 70px;
  }
}
