.main-section {
  background-image: url("../img/index-background.jpg");
  background-repeat: no-repeat;
  background-color: $tertiary;
  padding-bottom: 100px;
}

.main-section__title {
  font-size: 27px;
  padding-top: 73px;
  padding-bottom: 120px;
  margin: 0 auto;
  line-height: 1.11;
}
