.name {
  &__headline {
    font-size: 17px;
    line-height: 1.06;
    color: $primary;
  }

  &__list {
    list-style-type: none;
  }

  &__title {
    font-size: 17px;
    line-height: 1.06;
    font-weight: 700;
  }
}
