.number {
  border: none;
  padding: 0;
  margin: 0;
  position: relative;
  margin-bottom: 34px;
  padding-left: 29px;
  padding-right: 29px;
}

.number__title {
  display: block;
  font-size: 17px;
  line-height: 0.94;
  color: $primary;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 5px;
}

.number__label {
  display: flex;
  flex-grow: 1;
}

.number__input {
  flex-grow: 1;
  border: none;
  border-bottom: 2px solid $secondary;
  text-align: left;
  padding-top: 16px;
  padding-bottom: 15px;
  font-size: 17px;
}

.number__icon {
  position: absolute;
  bottom: 17px;
  right: 39px;
}

@media (min-width: $tablet-width) {
  .number {
    display: flex;
    padding: 47px 50px 24px 50px;
    margin: 0;
  }

  .number__input {
    background-color: $septenary;
    font-size: 19px;
    padding-left: 18px;
    padding-right: 18px;
  }

  .number__title {
    padding-top: 20px;
    margin-right: 135px;
  }

  .number__icon {
    bottom: 40px;
    right: 75px;
  }
}

@media (min-width: $desktop-width) {
  .number {
    padding: 47px 225px 24px 111px;
    max-width: 814px;
    margin: 0 auto;
    width: 100%;
  }

  .number__title {
    margin-right: 83px;
  }

  .number__icon {
    right: 232px;
  }
}
