.option {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0;
  margin: 0;
  position: relative;
  margin-bottom: 17px;
  padding-left: 29px;
  padding-right: 29px;
}

.option__title {
  font-size: 17px;
  line-height: 0.94;
  color: $primary;
  text-align: left;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 1px;
    left: 61px;
    right: 2px;
    top: 7px;
    background-color: $tertiarydenaty;
  }
}

.option__textarea {
  display: block;
  min-width: 230px;
  text-align: left;
  font-size: 17px;
  padding: 17px 14px 5px 14px;
  cursor: pointer;
  border: 2px solid $secondary;

  &:hover {
    border: 2px solid $primary;
  }

  &:active {
    border: 2px solid $primary;
  }

  &:focus {
    outline: 2px solid $primary;
    border: 2px solid $primary;
    border-radius: 5px;
  }

  &::placeholder {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .option {
    flex-direction: row;
    padding: 50px 50px 55px 50px;
    margin: 0;
  }

  .option__title {
    padding-top: 19px;
    margin-right: 127px;
  }

  .option__label {
    display: flex;
    flex-grow: 1;
  }

  .option__textarea {
    flex-grow: 1;
    background-color: $septenary;
    font-size: 19px;
    padding: 14px 14px 0 15px;
    height: 123px;
  }
}

@media (min-width: $desktop-width) {
  .option {
    padding: 50px 225px 53px 111px;
    max-width: 814px;
    margin: 0 auto;
    width: 100%;
  }

  .option__title {
    margin-right: 75px;
  }
}
