.radio__list {
  list-style-type: none;
}

.radio__headline {
  font-size: 17px;
  line-height: 0.94;
  color: $primary;
}

.radio__title {
  font-size: 17px;
  line-height: 1.06;
  font-weight: 700;
}
