.reviews {
  position: relative;
}

.reviews__title {
  margin: 0;
  font-size: 25px;
  line-height: 1.2;
  text-align: left;
}

.reviews__quote {
  margin: 0;
  text-align: left;
}

.reviews__text {
  font-size: 15px;
  line-height: 2;
  font-weight: 400;
  color: $quinary;
  margin: 0;
  margin-bottom: 18px;
  width: 259px;
}

.reviews__author-name {
  font-style: normal;
}

.reviews__author-social {
  color: $quinary;
  line-height: 1.76;
  font-weight: 400;
  margin: 0;
  margin-bottom: 30px;
}

.reviews__link {
  display: block;
  font-size: 18px;
  line-height: 1.11;
  text-transform: uppercase;
  color: $quinary;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 2px solid $quinary;
  margin: 0 auto;
  width: 260px;
}

.reviews__buttons {
  margin-bottom: 38px;
}

@media (min-width: $tablet-width) {
  .reviews__title {
    margin: 0;
    font-size: 43px;
    line-height: 1.16;
    padding-top: 83px;
    margin-bottom: 39px;
  }

  .reviews__text {
    font-size: 17px;
    line-height: 1.76;
    margin-bottom: 61px;
  }

  .reviews__author-social {
    font-size: 18px;
    margin: 0;
    margin-bottom: 115px;
  }

  .reviews__link {
    position: absolute;
    right: 50px;
    top: 50px;
    display: block;
    font-size: 17px;
    line-height: 1.17;
    text-transform: uppercase;
    color: $quinary;
    text-decoration: none;
    padding: 16px 26px;
    border: 2px solid $quinary;
    width: 175px;
  }

  .reviews__buttons {
    position: absolute;
    right: 50px;
    bottom: 50px;
  }
}
