.reviews__text {
  font-size: 15px;
  line-height: 2;
  font-weight: 400;
  color: $quinary;
}

.reviews__author-name {
  font-style: normal;
}

.reviews__author-social {
  color: $quinary;
}

.reviews__link {
  font-size: 18px;
  line-height: 1.11;
  text-transform: uppercase;
  color: $quinary;
  text-decoration: none;
}
