.site-list {
  position: absolute;
  display: flex;
  list-style-type: none;
  text-align: left;

  &--close {
    display: none;
  }
}

.site-list--no-js {
  position: static;
}

.site-list--closed {
  display: none;
}

.site-list__item {
  box-shadow: 0 1px 0 $octonary, inset 0 1px 0 $octonary;
}

.site-list__link {
  display: block;
  text-decoration: none;
  padding: 28px 60px 27px 76px;
  color: $secondary;
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;

    &--close {
      display: flex;
    }
  }

  .site-list__item {
    font-size: 15px;
  }

  .site-list__link {
    padding-top: 20px;
  }
}
