.site-list {
  display: flex;
  list-style-type: none;
  align-items: center;
}

.site-list__link {
  text-decoration: none;
  padding-top: 29px;
  padding-bottom: 27px;
  color: $secondary;
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;
  }
}
