.slider {
  padding: 13px 30px 89px 30px;
}

.slider__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.slider__item-none {
  display: none;
}


@media (min-width: $tablet-width) {
  .slider {
    background-image: url("../img/review-background.jpg");
    background-repeat: no-repeat;
    background-color: $tertiary;
    background-size: 350px 457px;
    padding: 0 50px 178px 50px;
  }

  .slider__list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .slider__list br {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .slider {
    padding: 0 50px 260px 175px;
    left: 50px;
    position: relative;
  }
}
