.slider {
  padding: 0 30px 89px 30px;

  &::before {
    content: "";
    background-image: url("../img/decor-icon/zigzag-decor.svg");
    position: absolute;
    left: 0;
    right: 0;
    bottom: 38px;
    height: 6px;
  }
}

.slider__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 18px;
}

.slider__item-none {
  display: none;
}


@media (min-width: $tablet-width) {
  .slider {
    background-image: url("../img/review-background.jpg");
    background-repeat: no-repeat;
    background-color: $tertiary;
    padding: 0 50px;
  }
}

@media (min-width: $desktop-width) {
  .slider {
    padding-left: 174px;
  }
}
