.slider-toggle {
  display: flex;
}

.slider-toggle__button {
  background-color: $tertiary;
  padding: 0;
  margin: 0;
  width: 130px;
  border: 1px solid $octonary;
  height: 52px;
  position: relative;
  cursor: pointer;

  &:hover .slider-toggle__button-icon {
    opacity: 0.6;
  }

  &:active .slider-toggle__button-icon {
    opacity: 0.3;
  }
}

.slider-toggle__button-icon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  fill: $secondary;
}

.slider-toggle__button--next {
  transform: rotate(180deg);
}

@media (min-width: $tablet-width) {
  .slider-toggle__button {
    border: none;
  }
}
