.video {
  position: relative;
}

.video__button {
  background-image: url("../img/play.png");
  background-repeat: no-repeat;
  width: 100px;
  height: 77px;
  position: absolute;
  top: 30px;
  left: 50%;
  background-color: transparent;
  border: none;
}
