.week {
  position: relative;
  padding: 0 30px;
}

.week__title {
  font-size: 31px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  text-align: left;
}

.week__text {
  margin: 0;
  text-align: left;
  color: $primary;
  line-height: 1.18;
  text-transform: uppercase;
}

.week__description {
  margin: 0;
  text-align: left;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
}

.week__link {
  display: block;
  font-size: 18px;
  line-height: 1.11;
  text-transform: uppercase;
  color: $quinary;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 2px solid $quinary;
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
}


@media (min-width: $tablet-width) {
  .week {
    position: relative;
    padding: 0 52px;
  }

  .week__title {
    font-size: 43px;
    line-height: 1.16;
    min-width: 450px;
    margin-bottom: 37px;
  }

  .week__description {
    width: 292px;
    margin-bottom: 48px;
  }

  .week__list {
    margin-bottom: 70px;
  }

  .week__text {
    line-height: 1;
    width: 100px;
    position: absolute;
    top: 7px;
    right: 65px;
  }

  .week__image {
    position: absolute;
    top: 100px;
    right: 52px;
  }

  .week__price {
    padding-left: 109px;
    text-align: left;
  }

  .week__link {
    display: block;
    width: 292px;
    margin-left: 0;
    margin-right: auto;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media (min-width: $desktop-width) {
  .week {
    padding: 0 225px;
  }

  .week__title {
    padding-top: 61px;
  }

  .week__text {
    line-height: 1;
    width: 100px;
    position: absolute;
    top: 69px;
    left: 32px;
  }
}


@media (min-width: $desktop-width) {
  .week {
    padding: 0 225px;
  }

  .week__title {
    padding-top: 61px;
    font-size: 53px;
    line-height: 1.08;
  }

  .week__text {
    line-height: 1;
    width: 100px;
    position: absolute;
    top: 69px;
    left: 32px;
  }
}
