.week-product__wrapper {
  display: flex;
}

.week-product__term {
  font-size: 15px;
  line-height: 1.33;
  font-weight: 400;
}

.week-product__description {
  font-size: 15px;
  line-height: 1.33;
  font-weight: 400;
}
