.week {
  position: relative;
  padding: 0 30px 73px 30px;

  &::before {
    content: "";
    background-image: url("../img/decor-icon/zigzag-decor.svg");
    position: absolute;
    left: 0;
    right: 0;
    bottom: 31px;
    height: 6px;
  }
}

.week__title {
  font-size: 25px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  text-align: left;
}

.week__text {
  margin: 0;
  margin-bottom: 17px;
  text-align: left;
  color: $primary;
  line-height: 1.18;
  text-transform: uppercase;
}

.week__description {
  margin: 0;
  margin-bottom: 12px;
  text-align: left;
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
}

.week__link-image {
  display: block;
  width: 260px;
  height: 315px;
}

.week__price {
  margin: 0;
  margin-bottom: 24px;
}

.week__link {
  display: block;
  font-size: 18px;
  line-height: 1.11;
  text-transform: uppercase;
  color: $quinary;
  text-decoration: none;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 2px solid $quinary;
  margin-left: auto;
  margin-right: auto;
  width: 260px;
}

.week__list {
  margin: 0;
  margin-bottom: 28px;
}

@media (min-width: $tablet-width) {
  .week {
    position: relative;
    padding: 0 50px 124px 50px;

    &::before {
      content: "";
      background-image: url("../img/decor-icon/zigzag-decor-tablet.svg");
      position: absolute;
      left: 0;
      right: 0;
      bottom: 31px;
      height: 17px;
    }
  }

  .week__title {
    font-size: 43px;
    line-height: 1.16;
    min-width: 450px;
    margin-bottom: 37px;
  }

  .week__description {
    font-size: 17px;
    line-height: 1.76;
    width: 292px;
    margin-bottom: 48px;
  }

  .week__list {
    margin-bottom: 57px;
  }

  .week__text {
    line-height: 1;
    width: 100px;
    position: absolute;
    top: 7px;
    right: 65px;
  }

  .week__link-image {
    position: absolute;
    top: 100px;
    right: 52px;
    width: 334px;
    height: 404px;
  }

  .week__image {
    width: 100%;
    height: auto;
  }

  .week__price {
    text-align: left;
    padding-left: 70px;
    margin-bottom: 33px;
  }

  .week__link {
    font-size: 17px;
    line-height: 1.17;
    display: block;
    width: 288px;
    margin-left: 0;
    margin-right: auto;
    padding-top: 14px;
    padding-bottom: 14px;
  }
}

@media (min-width: $desktop-width) {
  .week {
    padding: 0 225px;
  }

  .week__title {
    padding-top: 61px;
  }

  .week__text {
    line-height: 1;
    width: 100px;
    position: absolute;
    top: 69px;
    left: 32px;
  }
}


@media (min-width: $desktop-width) {
  .week {
    padding: 0 225px;
  }

  .week__title {
    padding-top: 61px;
    font-size: 53px;
    line-height: 1.08;
  }

  .week__text {
    line-height: 1;
    width: 100px;
    position: absolute;
    top: 69px;
    left: 32px;
  }
}
